/* Variables for the ENTIRE website */

/* COLORS */
$orange: #FC8F40;
$orange-lowlight: #ff9c2e;
$red: #c9271c;
$gray: #71717a;
$gray-lowlight: #4c535b;
$gray-blue: #355674; // It's grayish blue, ya dummy!
$teal: #0ba2a7;
$blue: #1073b9;
$deep-blue: #092a42; // Dark and vibrant blue
$bright-blue: #55bfff;
$purple: #8972c9;
$green: #61fd9f; 
$white: #FFF;

$brand-primary: $blue; 
$brand-primary-accent: $bright-blue;
$brand-primary-light: lighten($brand-primary, 15%);
$brand-primary-dark: $deep-blue;
$brand-secondary: $green; 
$light-bg: #e2e9ed;

$body-bg-color: #092a42;
$body-font-color: #fff;
$footer-background: #142830;
$footer-text: $gray;
$footer-link: $brand-primary;

$main-link-color: $brand-secondary;
$main-link-color-hover: $brand-primary-accent;

/* FONTS */
$gothic: "futura-pt", Helvetica, Arial, sans-serif;
$sans-serif: "SF Pro Display", -apple-system, "open-sans", Helvetica, Arial, sans-serif;
$serif: Georgia, Cambria, Times new roman, serif;
$body-font: $gothic;
$quote-font: $sans-serif;

$body-font-size-desktop: 19px;
$body-font-line-height-desktop: 28px;

$body-font-size-mobile: 20px;
$body-font-line-height-mobile: 29px;

/* BUTTONS */ 
$btn-font-size-base: 0.9rem;


/* MEDIA QUERY BREAK POINTS */

$breakpoints: (
  'xsmall': 350px,
  'small': 500px,
  'medium': 700px,
  'large': 900px,
  'xlarge': 1100px,
  'xxlarge': 1300px,
  'xxxlarge': 1500px
);

$xs-width: 350px;
$sm-width: 768px;
$md-width: 1024px;
$lg-width: 1545px;
$mobile-nav-break-point: $xs-width;


/* FORMS */
$error: #dd0000;
$success: #25db8c;