/* Variables for the ENTIRE website */

/* COLORS */
$orange: #FC8F40;
$orange-lowlight: #ff9c2e;
$red: #c9271c;

$gray: #71717a;
$gray-lowlight: #4c535b;
$gray-blue: #355674; // It's grayish blue, ya dummy!
$teal: #0ba2a7;
$deep-blue: #00529b; // Dark and vibrant blue

$purple: #8972c9;
$green: #8BBB25; 

$white: #FFF;


$brand-primary: $green; 
$brand-primary-accent: lighten($brand-primary, 30%);
$brand-primary-light: lighten($brand-primary, 15%);
$brand-primary-dark: darken($brand-primary, 15%);



$brand-secondary: $purple; 
$light-bg: #e2e9ed;
$body-font-color: #71717a;


$footer-background: #142830;
$footer-text: $gray;
$footer-link: $brand-primary;


$main-link-color: $brand-primary;
$main-link-color-hover: $brand-primary-accent;

/* FONTS */
$gothic: "proxima-nova", Helvetica, Arial, sans-serif;
$sans-serif: "ff-meta-web-pro", "SF Pro Display", -apple-system, "open-sans", Helvetica, Arial, sans-serif;
$serif: "expo-serif-pro", Georgia, Cambria, Times new roman, serif;
$body-font: $sans-serif;
$quote-font: $sans-serif;

$body-font-size-desktop: 20px;
$body-font-line-height-desktop: 31px;

$body-font-size-mobile: 17px;
$body-font-line-height-mobile: 26px;

/* BUTTONS */
$btn-font-size-base: floor($body-font-size-desktop * 0.7222222);


/* MEDIA QUERY BREAK POINTS */
//old $xs-width: 400px;
//old $sm-width: 600px;
//old $md-width: 880px;
//old $lg-width: 1045px;

$xs-width: 480px;
$sm-width: 750px;
$md-width: 1100px;
$lg-width: 1545px;
$mobile-nav-break-point: $xs-width;


/* FORMS */
$error: #dd0000;
$success: #25db8c;